In [1]:
#1 Create a function that takes two number strings and returns their sum as a string.

def add(a,b):
    try:
        x=int(a);y=int(b)
    except ValueError:
        return "Invalid input"
    else:
        return str(x+y)

In [2]:
add("111", "111")

'222'

In [3]:
add("10", "80")

'90'

In [4]:
add("", "20")

'Invalid input'

In [5]:
#2 Create a function to find only the root value of x in any quadratic equation ax^2 + bx + c. The function will
#take three arguments:
#a as the coefficient of x^2
#b as the coefficient of x
#c as the constant term

def quadratic_equation(a,b,c):
    return int((-b+(b**2-4*a*c)**0.5)/(2*a))

In [6]:
quadratic_equation(1, -12, -28)

14

In [7]:
quadratic_equation(1, 2, -3)

1

In [8]:
quadratic_equation(2, -7, 3)

3

In [9]:
#3 In each input list, every number repeats at least once, except for two. Write a function that returns the two
# unique numbers.

def return_unique(lst):
    l=[]
    for x in lst:
        if lst.count(x)==1:
            l.append(x)
        else:
            continue
    return l

In [10]:
return_unique([1, 9, 8, 8, 7, 6, 1, 6])

[9, 7]

In [11]:
return_unique([5, 5, 2, 4, 4, 4, 9, 9, 9, 1])

[2, 1]

In [12]:
return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8])

[5, 6]

In [17]:
#4 Create a function that takes two parameters and, if both parameters are strings, add them as if they were
#integers or if the two parameters are integers, concatenate them.

def stupid_addition(a,b):
    if type(a)==str and type(b)==str:
        return int(a)+int(b)
    elif type(a)==int and type(b)==int:
        return str(a)+str(b)
    else:
        return "None"

In [18]:
stupid_addition(1, 2)

'12'

In [19]:
stupid_addition("1", "2")

3

In [20]:
stupid_addition("1", 2)

'None'

In [21]:
#5 Transcribe the given DNA strand into corresponding mRNA - a type of RNA, that will be formed from it after 
#transcription. DNA has the bases A, T, G and C, while RNA converts to U, A, C and G respectively.
#Transcription is the process of making complementary strand.
#A, T, G and C in DNA converts to U, A, C and G respectively, when in mRNA.

def dna_to_rna(s):
    table=s.maketrans("ATGC","UACG")
    return s.translate(table)

In [22]:
dna_to_rna("ATTAGCGCGATATACGCGTAC")

'UAAUCGCGCUAUAUGCGCAUG'

In [23]:
dna_to_rna("CGATATA")

'GCUAUAU'

In [24]:
dna_to_rna("GTCATACGACGTA")

'CAGUAUGCUGCAU'

In [27]:
#6 Create a function that takes three values:
#h hours
#m minutes
#s seconds
#Return the value that's the longest duration.

def longest_time(h,m,s):
    hr=h*3600
    mi=m*60
    x=max(hr,mi,s)
    if x==hr:
        return h
    elif x==mi:
        return m
    else:
        return s

In [28]:
longest_time(1, 59, 3598)

1

In [29]:
longest_time(2, 300, 15000)

300

In [30]:
longest_time(15, 955, 59400)

59400

In [13]:
#7 YouTube currently displays a like and a dislike button, allowing you to express your opinions about particular
#content. It's set up in such a way that you cannot like and dislike a video at the same time.
#There are two other interesting rules to be noted about the interface:
#Pressing a button, which is already active, will undo your press.
#If you press the like button after pressing the dislike button, the like button overwrites the previous "dislike" state. The same is true for the other way round.
#Create a function that takes in a list of button inputs and returns the final state.

def like_or_dislike(lst):
    s=""
    if len(lst)==1:
        return lst[0]
    elif len(lst)==0:
        return "Nothing"
    else:
        for x in lst:
            if s=="" or x!=s:
                s=x
            elif (x.lower()=="like" and x==s) or (x.lower()=="dislike" and x==s):
                s="Nothing"
            
            else:
                continue
    return s

In [14]:
like_or_dislike(["Dislike"])

'Dislike'

In [15]:
like_or_dislike(["Like", "Like"])

'Nothing'

In [16]:
like_or_dislike(["Dislike", "Like"])

'Like'

In [17]:
like_or_dislike(["Like", "Dislike", "Dislike"])

'Nothing'

In [18]:
#8 Create a function that determines whether a number is Oddish or Evenish. A number is Oddish if the sum of all 
#of its digits is odd, and a number is Evenish if the sum of all of its digits is even. If a number is Oddish, 
#return "Oddish". Otherwise, return "Evenish".
#For example, oddish_or_evenish(121) should return "Evenish", since 1 + 2 + 1 = 4. oddish_or_evenish(41) 
#should return "Oddish", since 4 + 1 = 5.

def oddish_or_evenish(n):
    x=str(n)
    s=0
    for y in x:
        s+=int(y)
    if s%2==0:
        return "Evenish"
    else:
        return "Oddish"

In [19]:
oddish_or_evenish(121)

'Evenish'

In [20]:
oddish_or_evenish(43)

'Oddish'

In [42]:
#9 Create a function (named fifth) that takes some arguments and returns the type of the fifth argument. In case
#the arguments were less than 5, return "Not enough arguments".

def fifth(*a):
    if len(a)<5:
        return "Not enough arguments"
    elif len(a)>=5:
        return type(a[4])

In [43]:
fifth(1, 2, 3, 4, 5)

int

In [44]:
fifth("a", 2, 3, [1, 2, 3], "five")

str

In [45]:
fifth()

'Not enough arguments'

In [12]:
#10 Create a function that takes a string and censors words over four characters with *.

def censor(s):
    l=s.split()
    for x in range(len(l)):
        if len(l[x])>4:
            y=len(l[x])
            l[x]="*"*y
        else:
            continue
    return " ".join(l)

In [13]:
censor("The code is fourty")

'The code is ******'

In [14]:
censor("Two plus three is five")

'Two plus ***** is five'

In [15]:
censor("aaaa aaaaa 1234 12345")

'aaaa ***** 1234 *****'

In [30]:
#11 Given two strings comprised of + and -, return a new string which shows how the two strings interact in the 
#following way:
#When positives and positives interact, they remain positive.
#When negatives and negatives interact, they remain negative.
#But when negatives and positives interact, they become neutral, and are shown as the number 0.

def neutralise(s1,s2):
    a=""
    for x in range(len(s1)):
        if s1[x]==s2[x]:
            a+=s1[x]
        else:
            a+="0"
    return a

In [31]:
neutralise("--++--", "++--++")

'000000'

In [32]:
neutralise("-+-+-+", "-+-+-+")

'-+-+-+'

In [33]:
neutralise("-++-", "-+-+")

'-+00'

In [5]:
#12 Write a function that takes a list of two numbers and determines if the sum of the digits in each number are
#equal to each other.

def is_equal(l):
    s1=0;s2=0
    a=l[0];b=l[1]
    while a>=1 or b>=1:
        s1+=a%10
        s2+=b%10
        a//=10
        b//=10
    return (s1==s2)

In [6]:
is_equal([105, 42])

True

In [7]:
is_equal([21, 35])

False

In [8]:
is_equal([0, 0])

True

In [25]:
#13 You will be given a list of numbers which represent your character's altitude above sea level at regular 
#intervals:
#Positive numbers represent height above the water.
#0 is sea level.
#Negative numbers represent depth below the water's surface.
#Create a function which returns whether your character survives their unsupervised diving experience, given a 
#list of integers.
#Your character starts with a breath meter of 10, which is the maximum. When diving underwater, your breath meter 
#decreases by 2 per item in the array. Watch out! If your breath diminishes to 0, your character dies!
#To prevent this, you can replenish your breath by 4 (up to the maximum of 10) for each item in the array where
#you are at or above sea level.
#Your function should return True if your character survives, and False if not.

def diving_minigame(l):
    b=10
    for x in l:
        if x<0:
            b-=2
        elif x>=0:
            if b==10:
                continue
            else:
                b+=4
    if b>0:
        return True
    else:
        return False

In [26]:
diving_minigame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

True

In [27]:
diving_minigame([-3, -6, -2, -6, -2])

False

In [28]:
diving_minigame([2, 1, 2, 1, -3, -4, -5, -3, -4])

False

In [25]:
#14 Write a function that does the following operations: adding, subtracting, dividing, or multiplying values. It 
#is simply referred to as variable operation variable. Of course, the variables have to be defined, but in this 
#challenge the variables will be defined for you. All you have to do is look at the variables, do some string to 
#integer conversions, use some if conditionals, and combine them based on the operation.
#The numbers and operation will be given as strings, and you should return the value as a string as well.
#Notes
#The numbers and operation will be given as strings, and you should also return the value as a string.
#If the answer is "undefined", return "undefined" (e.g. dividing by zero).
#For divide, go ahead and round down to an integer.

def operation(d,e,c):
    a=int(d);b=int(e)
    if c=="add":
        return a+b
    elif c=="subtract":
        return a-b
    elif c=="multiply":
        return a*b
    elif c=="divide":
        if b==0:
            return "undefined"
        else:
            return a//b
    else:
        return "operation not available"

In [36]:
operation("1", "2", "add" )

3

In [37]:
operation("4", "5", "subtract")

-1

In [39]:
operation("6", "0", "divide")

'undefined'

In [42]:
#15 Given a list of even length, copy the half with the higher sum of numbers to the other half of the list.
#If the sum of the first half equals the sum of the second half, return the original list.

def balanced(l):
    x=len(l)//2
    s1=0;s2=0
    for y in range(x):
        s1+=l[y]
    for z in range(x,x*2):
        s2+=l[z]
    if s1>s2:
        return l[:x]*2
    elif s1<s2:
        return l[x:]*2
    else:
        return l

In [43]:
balanced([1, 2, 4, 6, 3, 1])

[6, 3, 1, 6, 3, 1]

In [44]:
balanced([88, 3, 27, 5, 9, 0, 13, 10])

[88, 3, 27, 5, 88, 3, 27, 5]

In [45]:
balanced([7, 5, 2, 6, 1, 0, 1, 5, 2, 7, 0, 6])

[7, 5, 2, 6, 1, 0, 1, 5, 2, 7, 0, 6]

In [57]:
#16 A built-in timer inside your car can count the length of your ride in minutes and you have started your ride at
#00:00.Given the number of minutes n at the end of the ride, calculate the current time. 
#Return the sum of digits that the digital timer in the format hh:mm will show at the end of the ride.

def car_timer(n):
    s=0
    if n>59:
        m=n//60
        r=n%60
        while m>=1 or r>=1:
            if m>=1:
                s+=m%10
                m//=10
            else:
                s+=r%10
                r//=10
        return s
    else:
        while n>=1:
            s+=n%10
            n//=10
        return s

In [58]:
car_timer(240)

4

In [59]:
car_timer(14)

5

In [60]:
car_timer(808)

14

In [61]:
car_timer(1439)

19

In [117]:
#17 Check if the given string consists of only letters and spaces and if every letter is in lower case.
#Notes
#Empty arguments will always return False.
#Input values will be mixed (symbols, letters, numbers).

def letters_only(s):
    if s=="":
        return False
    for x in s:
        if (x.isalpha()==True and x.islower()==True) or x==" ":
            continue
        else:
            return False
    return True

In [118]:
letters_only("PYTHON")

False

In [119]:
letters_only("python")

True

In [120]:
letters_only("12321313")

False

In [121]:
letters_only("i have spaces")

True

In [122]:
letters_only("i have numbers(1-10)")

False

In [123]:
letters_only("")

False

In [36]:
#18 Given two strings, return a string containing only the letters shared between the two.
#Notes
#If none of the letters are shared, return an empty string.
#The function should be case insensitive (e.g. comparing A and a should return a).
#Sort the resulting string alphabetically before returning it.

def shared_letters(s1,s2):
    a=""
    if len(s1)>len(s2):
        for x in s1.lower():
            for y in s2.lower():
                if x==y:
                    a+=" "+x
                else:
                    continue
    else:
        for x in s2.lower():
            for y in s1.lower():
                if x==y:
                    a+=" "+x
                else:
                    continue
    l=a.split()
    l.sort()
    return "".join(l)

In [37]:
shared_letters("house", "home")

'eho'

In [38]:
shared_letters("Micky", "mouse")

'm'

In [39]:
shared_letters("house", "villa")

''

In [55]:
#19 Given a list and chunk size "n", create a function such that it divides the list into many sublists where each
#sublist is of length size "n".

def chunk(lst,n):
    l1=[]
    for x in range(0,len(lst),n):
        l2=[]
        if x+n<=len(lst):
            for y in range(x,x+n):
                l2.append(lst[y])
        else:
            for y in range(x,x+(len(lst)%n)):
                l2.append(lst[y])
        l1.append(l2)
    return l1

In [56]:
chunk([1, 2, 3, 4], 2)

[[1, 2], [3, 4]]

In [57]:
chunk([1, 2, 3, 4, 5, 6, 7], 3)

[[1, 2, 3], [4, 5, 6], [7]]

In [58]:
chunk([1, 2, 3, 4 ,5], 10)

[[1, 2, 3, 4, 5]]

In [26]:
#20 Create a function that outputs the results of a flashcard. A flashcard is a list of three elements: a number, 
#an operator symbol, and another number. Return the mathematical result of that expression.
#There are 4 operators: + (addition), - (subtraction), x (multiplication), and / (division). If the flashcard 
#displays a number being divided by zero, e.g. [3, "/", 0], then return None. For division, round to the hundredths
#place. So [10, "/", 3] should return 3.33.

def flash(l):
    n1=l[0];n2=l[2]
    if l[1]=="+":
        return n1+n2
    elif l[1]=="-":
        return n1-n2
    elif l[1]=="x":
        return n1*n2
    elif l[1]=="/":
        if n2==0:
            return "None"
        else:
            return round(n1/n2,2)
    else:
        return "Invalid symbol"

In [13]:
flash([3, "x", 7])

21

In [14]:
flash([5, "+", 7])

12

In [15]:
flash([10, "-", 9])

1

In [16]:
flash([10, "/", 0])

'None'

In [27]:
flash([10, "/", 3])

3.33

In [38]:
#21 A standard-sized golf course has 18 holes. Each hole is given a par, which is the expected number of strokes 
#(hits) that a good player would use to complete a hole. Golf also uses different terms for a player being 
#over/under par for a particular hole:
#"eagle" = 2 under par (-2)
#"birdie" = 1 under par (-1)
#"bogey" = 1 over par (+1)
#"double-bogey" = 2 over par (+2)
#Example scores:
#"birdie" on a par 3 hole = 2
#"eagle" on a par 5 hole = 3
#"par" on a par 3 hole = 3
#"bogey" on a par 4 hole = 5
#Given a list of pars for an 18-hole golf course, and another list containing the player result for each hole,
#return the total score for the round of golf.

def golf_score(course,result):
    score=0
    for x in range(18):
        a=course[x]
        b=result[x].lower()
        
        if b=="eagle":
            score+=a-2
            
        elif b=="birdie":
            score+=a-1
            
        elif b=="bogey":
            score+=a+1
            
        elif b=="double-bogey":
            score+=a+2
            
        else:
            score+=a
            
    return score

In [39]:
golf_score([4, 4, 5, 3, 4, 4, 3, 5, 5, 3, 5, 4, 4, 4, 4, 3, 4, 4],\
["eagle", "bogey", "par", "bogey", "double-bogey", "birdie", "bogey", "par", "birdie", "par", "par", "par", "par", "par", "bogey", "eagle", "bogey", "par"])

73

In [40]:
golf_score([5, 4, 4, 4, 4, 4, 5, 4, 3, 3, 4, 5, 3, 4, 4, 3, 5, 4], ['par', 'bogey', 'birdie', 'bogey', 'par', 'birdie', 'par', 'bogey', 'eagle', 'par', 'par', 'birdie', 'par', 'eagle', 'double-bogey', 'birdie', 'par', 'birdie'])

68

In [48]:
#22 Create a function that takes an integer list and return the biggest between positive sum, negative sum, or 0s 
#count. The major is understood as the greatest absolute.
#l = [1,2,3,4,0,0,-3,-2], the function has to return 10, because:
#Positive sum = 1+2+3+4 = 10
#Negative sum = (-3)+(-2) = -5
#0s count = 2 (there are two zeros in list)

def major_sum(l):
    p=0;n=0;z=0
    for x in l:
        if x>0:
            p+=x
        elif x<0:
            n+=x
        else:
            z+=1
    if p>z and p>n*(-1):
        return p
    elif p<z and z>n*(-1):
        return z
    else:
        return n

In [49]:
major_sum([1, 2, 3, 4, 0, 0, -3, -2])

10

In [50]:
major_sum([-4, -8, -12, -3, 4, 7, 1, 3, 0, 0, 0, 0])

-27

In [51]:
major_sum([0, 0, 0, 0, 0, 1, 2, -3])

5

In [63]:
#23 A number num, that elevated to the power of another number k "ends" with the same num, it's automorphic.A number
#can have various powers that make it automorphic (i.e. look at number 5 in the above example). In this challenge, 
#you have to verify if the given number is automorphic for each power from 2 up to 10.
#Given a non-negative integer num, implement a function that returns the string:
#"Polymorphic" if num is automorphic for every power from 2 up to 10.
#"Quadrimorphic" if num is automorphic for only four powers (any from 2 up to 10).
#"Dimorphic" if num is automorphic for only two powers (any from 2 up to 10).
#"Enamorphic" if num is automorphic for only one power (any from 2 up to 10).
#"Amorphic" if num is not automorphic for for any powers from 2 up to 10.

def power_morphic(num):
    c=0;n=0;s=len(str(num))
    d={9:"Polymorphic",4:"Quadramorphic",2:"Dimorphic",1:"Enamorphic",0:"Amorphic"}
    for x in range(2,11):
        n=num**x
        if n%(10**s)==num:
            c+=1
        else:
            continue
    for y in d:
        if c==y:
            return d[y]
        else:
            continue
    return None

In [64]:
power_morphic(5)

'Polymorphic'

In [65]:
power_morphic(21)

'Enamorphic'

In [66]:
power_morphic(7)

'Dimorphic'

In [67]:
power_morphic(4)

'Quadramorphic'

In [1]:
#24 Graded lexicographic order (grlex order for short) is a way of ordering words that:
#First orders words by length.
#Then orders words of the same size by their dictionary order.
#For example, in grlex order:
#"tray" < "trapped" since "tray" has length 4 while "trapped" has length 7.
#"trap" < "tray" since both have length 4, but "trap" comes before "tray" in the dictionary.
#Given a list of words, return that list in grlex order.

def make_grlex(lst):
    l=[]
    while len(lst)>0:
        a=min(lst)
        l.append(a)
        lst.remove(a)
    return l

In [2]:
make_grlex(["small", "big"])

['big', 'small']

In [3]:
make_grlex(["cat", "ran", "for", "the", "rat"])

['cat', 'for', 'ran', 'rat', 'the']

In [4]:
make_grlex(["this", "is", "a", "small", "test"])

['a', 'is', 'small', 'test', 'this']

In [28]:
#25Create a function that takes a list consisting of dice rolls from 1-6. Return the sum of
#your rolls with the following conditions:
#If a 1 is rolled, that is bad luck. The next roll counts as 0.
#If a 6 is rolled, that is good luck. The next roll is multiplied by 2.
#The list length will always be 3 or higher.


def rolls(lst):
    s=0
    while len(lst)>0:
        if lst[0]==1:
            s+=1
            lst.remove(lst[0])
            if len(lst)>0:
                lst.remove(lst[0])
        elif lst[0]==6:
            s+=6
            lst.remove(lst[0])
            if len(lst)>0:
                s+=lst[0]*2
                if lst[0]==1:
                    lst.remove(lst[0])
                lst.remove(lst[0])
        else:
            s+=lst[0]
            lst.remove(lst[0])
            
    return s

In [29]:
rolls([1, 2, 3])

4

In [30]:
rolls([2, 6, 2, 5])

17

In [31]:
rolls([6, 1, 1])

8

In [65]:
#26 Write a function that takes a list and determines whether it's strictly increasing, 
#strictly decreasing, or neither.
#Notes
#The last example does NOT count as strictly increasing, since 1-indexed 1 is not strictly 
#greater than the 0-indexed 1.
#Input lists have a minimum length of 2.

def check(lst):
    a=0;b=0
    while len(lst)>0:
        if len(lst)>1:
            if lst[0]>lst[1]:
                a+=1
                lst.remove(lst[0])
            elif lst[0]<lst[1]:
                b+=1
                lst.remove(lst[0])
            else:
                lst.remove(lst[0])
        else:
            lst.remove(lst[0])
    if a==2:
        return "Decreasing"
    elif b==2:
        return "Increasing"
    else:
        return "neither"

In [66]:
check([1, 2, 3])

'Increasing'

In [67]:
check([3, 2, 1])

'Decreasing'

In [69]:
check([1, 2, 1])

'neither'

In [70]:
check([1, 1, 2])

'neither'

In [75]:
#27 The anti-divisors are numbers that do not divide a given number by the largest possible
#margin, and they can be found following a simple set of rules:
#Every number greater than 1 and lower than n is checked.
#Every checked number must not be a divisor of n.
#If the checked number is odd and it is a divisor of n * 2 - 1 or n * 2 + 1 it's an anti-divisor.
#If the checked number is even and it is a divisor of n * 2, it's an anti-divisor.
#Given an integer n, implement a function that returns a list containing the anti-divisors 
#of n sorted in ascending order.

def anti_divisors(n):
    l=[]; a=2
    while a<n:
        if n%a==0:
            pass
        else:
            if a%2==0 and n*2%a==0:
                l.append(a)
            else:
                if (n*2-1)%a==0 or (n*2+1)%a==0:
                    l.append(a)
        a+=1
    return l

In [76]:
anti_divisors(10)

[3, 4, 7]

In [77]:
anti_divisors(12)

[5, 8]

In [78]:
anti_divisors(20)

[3, 8, 13]

In [79]:
#28 Abigail and Benson are playing Rock, Paper, Scissors.
#Each game is represented by an array of length 2, where the first element represents what
#Abigail played and the second element represents what Benson played.
#Given a sequence of games, determine who wins the most number of matches. If they tie, 
#output "Tie".
#R stands for Rock
#P stands for Paper
#S stands for Scissors

def calculate_score(lst):
    abi=0;ben=0
    for a in lst:
        if (a[0]=="R" and a[1]=="P") or (a[0]=="P" and a[1]=="R") or (a[0]=="S" and a[1]=="P"):
            abi+=1
        elif (a[1]=="R" and a[0]=="P") or (a[1]=="P" and a[1]=="R") or (a[1]=="S" and a[0]=="P"):
            ben+=1
        else:
            pass
    if abi>ben:
        return "Abigail"
    elif abi<ben:
        return "Benson"
    else:
        return "Tie"

In [80]:
calculate_score([["R", "P"], ["R", "S"], ["S", "P"]])

'Abigail'

In [81]:
calculate_score([["R", "R"], ["S", "S"]])

'Tie'

In [82]:
calculate_score([["S", "R"], ["R", "S"], ["R", "R"]])

'Tie'

In [100]:
#29 There has been a masterdata issue which affected the prices of the products. Check if 
#each product has a valid price (integer or float, and greater than or equal to zero). 
#Products with a price of 0 are free and count as a valid price.
#The return value should be a Boolean.

def has_valid_price(d):
    if type(d)==dict:
        if type(d["price"])==int or type(d["price"])==float:
            return (d["price"]>=0)
    return False

In [101]:
has_valid_price({ "product": "Milk", "price": 1.50 })

True

In [102]:
has_valid_price({ "product": "Cheese", "price": -1 })

False

In [103]:
has_valid_price({ "product": "Eggs", "price": 0 })

True

In [104]:
has_valid_price({ "product": "Cereals", "price": "3.0" })

False

In [105]:
has_valid_price(None)

False

In [1]:
#30 A positive number's population is the sum of 1's in its binary representation.
#An evil number has an even numbered population.
#An odious number has an odd numbered population.
#A number is pernicious if its population is a prime number.
#Create a function that takes a number as an argument and returns a sorted list of all its
#descriptors ("Evil", "Odious", or "Pernicious").

def how_bad(num):
    l=[];a=1;c=0
    s=bin(num)
    n=0
    for x in range(2,len(s)):
        n+=int(s[x])
    while a<=n:
        if n%a==0:
            c+=1
        else:
            pass
        a+=1
    if n%2==0:
        l.append("Evil")
    else:
        l.append("Odious")
    if c==2:
        l.append("Pernicious")
    return l

In [2]:
how_bad(7)

['Odious', 'Pernicious']

In [3]:
how_bad(17)

['Evil', 'Pernicious']

In [4]:
how_bad(23)

['Evil']

In [32]:
#31 Mubashir is not so good with the English language. He needs your help to correct his 
#sentences.
#Start each sentence with an uppercase alphabet.
#For every uppercase letter (other than the first alphabet), you have to place a fullstop(.) followed by an empty space.
#There must be only one space between the words and sentences.
#Sentence must end with a full stop(.)
#Two continuous spaces are not allowed.

def correct_sentences(sen):
    l=(sen.strip()[0].upper()+sen.strip()[1:]).split()
    for x in range(len(l)):
        if l[x][0].isupper() and x!=0:
            l[x-1]=l[x-1]+"."
        else:
            continue
    a=" ".join(l)
    return a

In [33]:
correct_sentences ("  mubashir loves  edabit  Matt  loves  edabit  ")

'Mubashir loves edabit. Matt loves edabit'

In [34]:
correct_sentences ("  he is an engineer He sleeps a lot")

'He is an engineer. He sleeps a lot'

In [35]:
correct_sentences (" his english is not good Help him     Thank you")

'His english is not good. Help him. Thank you'

In [40]:
#32 Given a sentence, create a function that replaces every "a" as an article with 
#"an absolute". It should return the same string without any change if it doesn't have any 
#"a".

def absolute(s):
    l=s.split()
    if "a" in l or "A" in l:
        for x in range(len(l)):
            if l[x]=="a":
                l[x]="an absolute"
            elif l[x]=="A":
                l[x]="An absolute"
            else:
                continue
        return " ".join(l)
    else:
        return s

In [41]:
absolute("I am a champion!!!")

'I am an absolute champion!!!'

In [42]:
absolute("Such an amazing bowler.")

'Such an amazing bowler.'

In [43]:
absolute("A man with no haters.")

'An absolute man with no haters.'

In [46]:
#33 It's a Pokemon battle! Your task is to calculate the damage that a particular move would
#do using the following formula (not the actual one from the game):
#damage = 50 * (attack / defense) * effectiveness
#attack = your attack power
#defense = the opponent's defense
#effectiveness = the effectiveness of the attack based on the matchup (see explanation below)
#Effectiveness:
#Attacks can be super effective, neutral, or not very effective depending on the matchup. 
#For example, water would be super effective against fire, but not very effective against 
#grass.
#Super effective: 2x damage
#Neutral: 1x damage
#Not very effective: 0.5x damage
#To prevent this challenge from being tedious, you'll only be dealing with four types: 
#fire, water, grass, and electric. Here is the effectiveness of each matchup:
#fire > grass
#fire < water
#fire = electric
#water < grass
#water < electric
#grass = electric
#The function you must implement takes in:
#your type
#the opponent's type
#your attack power
#the opponent's defense
#Examples

#calculate_damage("fire", "water", 100, 100) ➞ 25
#calculate_damage("grass", "fire", 35, 5) ➞ 175
#calculate_damage("electric", "fire", 100, 100) ➞ 50
#Notes
#Any type against itself is not very effective. Also, assume that the relationships between 
#different types are symmetric (if A is super effective against B, then B is not very 
#effective against A).

def calculate_damage(me,opp,attack,defence):
    effect=0
    d={"fire":{"grass":2,"water":0.5,"electric":1},"grass":{"fire":0.5,"water":2,\
      "electric":1},"water":{"fire":2,"grass":0.5,"electric":0.5},"electric":{"fire":1,\
      "water":2,"grass":1}}
    for x in d:
        if x==me:
            for y in d[x]:
                if y==opp:
                    effect=d[x][y]
                    break
            break
        else:
            continue
    return int(50*(attack/defence)*effect)

In [47]:
calculate_damage("fire", "water", 100, 100)

25

In [48]:
calculate_damage("grass", "fire", 35, 5)

175

In [49]:
calculate_damage("electric", "fire", 100, 100)

50

In [16]:
#34 Create a function that takes a list of card numbers and checks if the sum of their value
#exceeds 21. If the sum exceeds 21, return True and if the sum is under or equal to 21, 
#return False. Values of the cards are as follows:
#2-10 are their value.
#J-K (face cards) count as 10.
#Aces count either as 1 or 11 - play conservatively, so that if giving an ace a value of 11
#causes you to lose and 1 allows you to win, then go with 1.

def over_twenty_one(lst):
    sum1=0
    for x in lst:
        if type(x)==int and x>=2 and x<=10:
            sum1+=x
        elif x=="J" or x=="K" or x=="Q":
            sum1+=10
        elif x=="A":
            if sum1<20:
                sum1+=1
            else:
                sum1+=11
        else:
            continue
    return (sum1>21)

In [17]:
over_twenty_one([2, 8, "J"])

False

In [18]:
over_twenty_one(["A", "J", "K"])

False

In [19]:
over_twenty_one([5, 5, 3, 9])

True

In [20]:
over_twenty_one([2, 6, 4, 4, 5])

False

In [21]:
over_twenty_one(["J", "Q", "K"])

True

In [33]:
#35 Create a function that alternates the case of the letters in a string (known as Spongecase).

def alternating_caps(st):
    s="";y=2
    for x in st:
        if x.isalpha():
            if y%2==0:
                s+=x.upper()
            else:
                s+=x.lower()
            y+=1
        else:
            s+=x
    return s

In [34]:
alternating_caps("Hello")

'HeLlO'

In [35]:
alternating_caps("How are you?")

'HoW aRe YoU?'

In [36]:
alternating_caps("OMG this website is awesome!")

'OmG tHiS wEbSiTe Is AwEsOmE!'

In [41]:
#36 Write the function that takes three dimensions of a brick: height(a), width(b) and 
#depth(c) and returns True if this brick can fit into a hole with the width(w) and height(h).
#Notes
#You can turn the brick with any side towards the hole.
#We assume that the brick fits if its sizes equal the ones of the hole (i.e. brick size should be less than or equal to the size of the hole, not strictly less).
#You can't put a brick in at a non-orthogonal angle.

def does_brick_fit(a,b,c,w,h):
    return a*c<=w*h

In [42]:
does_brick_fit(1, 1, 1, 1, 1)

True

In [43]:
does_brick_fit(1, 2, 1, 1, 1)

True

In [44]:
does_brick_fit(1, 2, 2, 1, 1)

False

In [63]:
#37 Mubashir was testing how atoms can react in their ionic state during nuclear fusion. 
#He observed that atoms can introduce different elements with Hydrogen at high temperatures 
#and inside a pressurized chamber. During his experiment, elements started precipitating 
#inside the chamber. Help him find the total number of molecules of Water H2O, 
#Carbon Dioxide CO2 and Methane CH4 generated during this process.
#Given the number of atoms of carbon, hydrogen and oxygen, calculate the molecules in the 
#following order:
#1. Hydrogen reacts with Oxygen = H2O
#2. Carbon reacts with Oxygen   = CO2
#3. Carbon reacts with Hydrogen = CH4

def chemical_reactions(c,h,o):
    h2o=min(h//2,o)
    h-=2*h2o
    o-=h2o
    co2= min(c,o//2)
    c-=co2
    o-=co2
    ch4=min(c,h//4)
    return[h2o,co2,ch4]

In [64]:
chemical_reactions(45, 11, 100)

[5, 45, 0]

In [65]:
chemical_reactions(113, 0, 52)

[0, 26, 0]

In [8]:
#38 Create a function which replaces all the x's in the string in the following ways:Replace all x's with "cks"
#UNLESS:
#The word begins with "x", therefore replace it with "z".
#The word is just the letter "x", therefore replace it with "ecks".
#Notes
#All x's are lowercase.
#I know that not all words with x's follow this rule, but there are too many edge cases to count!

def x_pronounce(st):
    l=[]
    for x in st.split():
        if "x" in x or "X" in x:
            if len(x)!=1 and x.startswith("x") or x.startswith("X"):
                x="z"+x[1:]
            else:
                a=x.find("x")
                if x[a-1]=="a" or x[a-1]=="e" or x[a-1]=="i" or x[a-1]=="o" or x[a-1]=="u":
                    x=x[:a]+"cks"+x[a+1:]
                else:
                    x=x[:a]+"ecks"+x[a+1:]
        else:
            pass
        l.append(x)
    return " ".join(l)

In [9]:
x_pronounce("Inside the box was a xylophone")

'Inside the bocks was a zylophone'

In [10]:
x_pronounce("The x ray is excellent")

'The ecks ray is eckscellent'

In [11]:
x_pronounce("OMG x box unboxing video x D")

'OMG ecks bocks unbocksing video ecks D'

In [1]:
#39 Try to imagine a world in which you might have to stay home for 14 days at any given 
#time. Do you have enough TP to make it through?
#Although the number of squares per roll of TP varies significantly, we'll assume each roll 
#has 500 sheets, and the average person uses 57 sheets per day.
#Create a function that will receive a dictionary with two key/values:
#"people" ⁠— Number of people in the household.
#"tp" ⁠— Number of rolls.
#Return a statement telling the user if they need to buy more TP!

def tp_checker(d):
    days=0
    tp=d["tp"]*500
    people=d["people"]
    rtp=people*57
    while rtp<tp:
        tp-=rtp
        days+=1
    if days<=11:
        return "Your TP will last only {} days, buy more!".format(days)
    else:
        return "Your TP will last {} days, no need to panic".format(days)

In [2]:
tp_checker({ "people": 4, "tp": 1 })

'Your TP will last only 2 days, buy more!'

In [3]:
tp_checker({ "people": 3, "tp": 20 })

'Your TP will last 58 days, no need to panic'

In [4]:
tp_checker({ "people": 4, "tp": 12 })

'Your TP will last 26 days, no need to panic'

In [9]:
#40 Given a positive number x:
#p = (p1, p2, …)
# Set of *prime* factors of x
#If the square of every item in p is also a factor of x, then x is said to be a powerful 
#number.
#Create a function that takes a number and returns True if it's powerful, False if it's not.

def is_powerful(x):
    l=[]
    for y in range(2,x+1):
        if x%y==0:
            a=0
            for z in range(2,y+1):
                if y%z==0:
                    a+=1
                else:
                    pass
            if a==1:
                l.append(y)
        else:
            pass
    for p in l:
        if x%p**2==0:
            continue
        else:
            return False
    return True

In [10]:
is_powerful(36)

True

In [11]:
is_powerful(27)

True

In [12]:
is_powerful(674)

False

In [24]:
#41 Create a function to check if a candidate is qualified in an imaginary coding interview 
#of an imaginary tech startup.
#The criteria for a candidate to be qualified in the coding interview is:
#The candidate should have complete all the questions.
#The maximum time given to complete the interview is 120 minutes.
#The maximum time given for very easy questions is 5 minutes each.
#The maximum time given for easy questions is 10 minutes each.
#The maximum time given for medium questions is 15 minutes each.
#The maximum time given for hard questions is 20 minutes each.
#If all the above conditions are satisfied, return "qualified", else return "disqualified".
#You will be given a list of time taken by a candidate to solve a particular question and the total time taken by 
#the candidate to complete the interview.
#Given a list , in a true condition will always be in the format [very easy, very easy, easy, easy, medium,medium, hard, hard].
#The maximum time to complete the interview includes a buffer time of 20 minutes.

def interview(lst,t):
    d={0:5,1:5,2:10,3:10,4:15,5:15,6:20,7:20}
    if t<=120:
        if len(lst)==8:
            for x in range(len(lst)):
                if lst[x]<=d[x]:
                    continue
                else:
                    return "disqualified"
        else:
            return "disqualified"
    else:
        return "disqualified"
    return "qualified"

In [25]:
interview([5, 5, 10, 10, 15, 15, 20, 20], 120)

'qualified'

In [26]:
interview([2, 3, 8, 6, 5, 12, 10, 18], 64)

'qualified'

In [27]:
interview([5, 5, 10, 10, 25, 15, 20, 20], 120)

'disqualified'

In [28]:
interview([5, 5, 10, 10, 15, 15, 20], 120)

'disqualified'

In [29]:
interview([5, 5, 10, 10, 15, 15, 20, 20], 130)

'disqualified'

In [35]:
#42 Create a function that takes a string as an argument and returns the Morse code equivalent.
#Notes
#Ouput should be International Morse Code, and use the standard conventions for symbols not defined inside the ITU recommendation (see Resources).
#Input value can be lower or upper case.
#Input string can have digits.
#Input string can have some special characters (e.g. comma, colon, apostrophe, period, question mark, exclamation mark).
#One space " " is expected after each character, except the last one.

def encode_morse(st):
    d= {'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..', ' ': ' ', '0': '-----',
        '1': '.----', '2': '..---', '3': '...--', '4': '....-', '5': '.....',
        '6': '-....', '7': '--...', '8': '---..', '9': '----.',
        '&': '.-...', "'": '.----.', '@': '.--.-.', ')': '-.--.-', '(': '-.--.',
        ':': '---...', ',': '--..--', '=': '-...-', '!': '-.-.--', '.': '.-.-.-',
        '-': '-....-', '+': '.-.-.', '"': '.-..-.', '?': '..--..', '/': '-..-.'}
    s=""
    for x in st.upper():
            s+=d[x]+" "
    return s.strip()

In [36]:
encode_morse("EDABBIT CHALLENGE")

'. -.. .- -... -... .. -   -.-. .... .- .-.. .-.. . -. --. .'

In [37]:
encode_morse("HELP ME !")

'.... . .-.. .--.   -- .   -.-.--'

In [46]:
#43 A financial institution provides professional services to banks and claims charges from the customers based on 
#the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed 
#targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a 
#threshold target.
#This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for 
#each billable day in excess of such threshold target is shown as follows:
#    Day     	Bonus
#0 to 32 days	Zero
#33 to 40 days	SGD$325 per billable day
#41 to 48 days	SGD$550 per billable day
#Greater than 48 days	SGD$600 per billable day
#Please note that incentive payment is calculated progressively. As an example, if an employee reached total 
#billable days of 45 in a quarter, his/her incentive payment is computed as follows:
#32*0 + 8*325 + 5*550 = 5350
#Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

def bonus(x):
    b=0
    if x<=32:
        pass
    elif x>32 and x<=40:
        b+=(x-32)*325
    elif x>40 and x<=48:
        b+=(x-32)*325+(x-40)*550
    else:
        b+=(x-48)*600+8*550+8*325
    return b

In [47]:
bonus(15)

0

In [48]:
bonus(37)

1625

In [49]:
bonus(50)

8200